
<h2>Upload Event</h2>

<% @media.errors && @media.errors.messages.each_pair do|field,msg| %>
		<div class="errors">
				<%= @media.error_message(field) %>
		</div>
<% end %>
<%= simple_form_for @media, :url => medias_path, :html => { :class => 'form-horizontal' } do |f| %>
		<%= f.file_field :document %>
		<div class="form-actions">
				<%= f.button :submit, :value => "Upload" %>
		</div>
<% end %>
  
