/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#loginContainer {
  margin-left: 200px;
}

#displayUserName {
  color: #F6F6F6;
}

.current_page_item {
  background: url("/assets/header-wrapper-bg.png") repeat-x scroll left top transparent;
}